<div id="exam-schedule-div">
<table id="exam-schedule" class="sortable searchable">
  <tbody>
    <tr>
      <th class="sortable-header" onclick="sortTable(0)">Date:</th>
      <th class="sortable-header" onclick="sortTable(1)">Time:</th>
      <th class="sortable-header" onclick="sortTable(2, true)">#of Students:</th>
      <th class="sortable-header" onclick="sortTable(3)">Location:</th>
      <th class="sortable-header" onclick="sortTable(4)">Subject:</th>
    </tr>
    <tr>
      <td>Wed, June 12</td>
      <td>9:00 - 3:00 pm</td>
      <td>117</td>
      <td>OSA</td>
      <td><strong>ENGLISH 30-1 PART A</strong></td>
    </tr>
    <tr>
      <td>Wed, June 12</td>
      <td>9:00-11:00 am</td>
      <td>121</td>
      <td>ETLC E1-001</td>
      <td>English 20 IB/R</td>
    </tr>
    <tr>
      <td>Wed, June 12</td>
      <td>9:00 - 11:00 am</td>
      <td>125</td>
      <td>ETLC E1-001</td>
      <td>English 10 IB</td>
    </tr>
    <tr>
      <td>Thu, June 13</td>
      <td>9:00 - 3:00 pm</td>
      <td>95</td>
      <td>OSA</td>
      <td><strong>SOCIAL 30-1 PART A</strong></td>
    </tr>
    <tr>
      <td>Thu, June 13</td>
      <td>9:00 - 11:00 am</td>
      <td>90</td>
      <td>ETLC E1-001</td>
      <td>Biology 20 IB</td>
    </tr>
    <tr>
      <td>Tues, June 18</td>
      <td>9:00 -11:00 am</td>
      <td>256</td>
      <td>ETLC E1-001</td>
      <td>French 10, 20, 30 IB</td>
    </tr>
    <tr>
      <td>Wed, June 19</td>
      <td>9:00 - 3:00 am</td>
      <td>119</td>
      <td>ETLC E1-017</td>
      <td><strong>MATH 30-1</strong></td>
    </tr>
    <tr>
      <td>Wed, June 19</td>
      <td>9:00 - 11:00 am</td>
      <td>123</td>
      <td>ETLC E1-001</td>
      <td>Math 20-1 IB, Math 31</td>
    </tr>
    <tr>
      <td>Thurs, June 20</td>
      <td>9:00 - 3:00 pm</td>
      <td>117</td>
      <td>ETLC E1-001</td>
      <td><strong>ENGLISH 30-1 PART B</strong></td>
    </tr>
    <tr>
      <td>Thurs, June 20</td>
      <td>9:00 - 11:00 am</td>
      <td>100</td>
      <td>ETLC E1-003</td>
      <td>Social 20 IB/R</td>
    </tr>
    <tr>
      <td>Mon, June 24</td>
      <td>9:00 - 2:00 pm</td>
      <td>95</td>
      <td>ECHA L1-190</td>
      <td><strong>SOCIAL 30-1 PART B</strong></td>
    </tr>
    <tr>
      <td>Mon, June 24</td>
      <td>9:00-11:00 am</td>
      <td>68</td>
      <td>ETLC E1-017</td>
      <td>Physics 20 IB</td>
    </tr>
    <tr>
      <td>Mon, June 24</td>
      <td>9:00-11:00 am</td>
      <td>125</td>
      <td>ETLC E1-007</td>
      <td>Social 10 IB</td>
    </tr>
    <tr>
      <td>Tues, June 25</td>
      <td>9:00 - 3:00 pm</td>
      <td>86</td>
      <td>ETLC E1-003</td>
      <td><strong>BIOLOGY 30</strong></td>
    </tr>
    <tr>
      <td>Tues, June 25</td>
      <td>9:00 - 11:00 am</td>
      <td>103</td>
      <td>ETLC E1-007</td>
      <td>Science 10</td>
    </tr>
    <tr>
      <td>Wed, June 26</td>
      <td>9:00 - 3:00 pm</td>
      <td>102</td>
      <td>ETLC E1-017</td>
      <td><strong>CHEMISTRY 30</strong></td>
    </tr>
    <tr>
      <td>Wed, June 26</td>
      <td>9:00 - 11:00 am</td>
      <td>125</td>
      <td>ETLC E1-007</td>
      <td>Chemistry 20 IB</td>
    </tr>
    <tr>
      <td>Thurs, June 27</td>
      <td>8:00 - 2:00 pm</td>
      <td>62</td>
      <td>ETLC E1-003</td>
      <td><strong>PHYSICS 30</strong></td>
    </tr>
  </tbody>
</table>

<ul>
<li>ETLC - Engineering, Teaching and Learning Centre (between 91 Avenue and 92 Avenue, 116 Street)</li>
<li>NRE - Natural Resources Engineering Facility (between 91 Avenue and 92 Avenue, 116 Street</li>
<li>ECHA - Edmonton Clinic Health Academy 11405-87 Avenue</li>
</ul>
</div>
