---
---
@import "{{ site.theme }}";

.site-header {
  background-color: silver;
  padding-top: 3vh;
}

.site-footer {
  background-color: silver;
}

.footnotes {
  @include relative-font-size(0.75);
}

.platform-sub-points {
  list-style-type: upper-alpha;
}

#campaign-poster {
  width: 50%;
  height: calc(25% * 4 / 3);
  float: right;
}

.color-changed {
  color: #3FBFBF;
}

.testimonial {
  max-width: 100%;
  height: auto;
}

strong {
  color: blue;
}

.daily-bulletin {
  max-width: 100%;
}

.post-list-heading {
  margin-top: 3vh;
}

.sortable-header {
  cursor: pointer;
}

.hidden-buttons {
  width: 50%;
  float: left;
}

#exam-schedule-div {
  display: block;
  overflow-x: auto;
}

#facebook-congrats-post {
  width: 100%;
  border: none;
}

#search-exams {
  background-image: url('/assets/img/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 3vh; /* Add some space below the input */
}

.congrats-div {
  text-align: center;
}

#congrats {
  color: lightblue;
  display: inline;
}

// =============== Dark mode ===============

body.dark {
  background-color: rgb(36, 36, 64);
  color: lightgrey;
}

body.dark .site-header, body.dark .site-footer {
  background-color: hsl(246, 24%, 10%);
}

body.dark .site-title {
  color: lightslategrey;
}

body.dark .page-link {
  color: grey;
}

body.dark code {
  background-color: hsl(180, 25%, 12%);
  color: lightgrey;
}

body.dark table tbody {
  color: lightgrey;
}

body.dark table strong {
  color: lightskyblue;
}

body.dark table tbody>tr:nth-child(odd)>td,
body.dark table tbody>tr:nth-child(odd)>th {
  background-color: hsl(240, 48%, 18%);
}

body.dark table tbody>tr:nth-child(even)>td,
body.dark table tbody>tr:nth-child(even)>th {
  background-color: darkslateblue;
}
