<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      function toggleVisibility(hiddenId) {
        const div = document.getElementById(hiddenId);
        div.style.display = (div.style.display === "none") ? "block" : "none";
      }
    </script>
  </body>

</html>
